<section>
    <div class="row container passos">
        <div class="col-sm-2"></div>
        <div class="numbers"><span>1</span></div>
        <div class="line"></div>
        <div class="numbers"><span>2</span></div>
        <div class="line"></div>
        <div class="numbers"><span>3</span></div>
        <div class="col-sm-2"></div>
    </div>

    <div class="start">
        <form>
            <p>Vamos advinhar seu humor</p>
            <p>utilizando apenas uma foto</p>
            <button type="submit" class="btn btn-default btn-lg comecar" ng-click="comecar()">Início</button>
        </form>
    </div>
</section>
