<section>
    <div class="row container passos">
        <div class="col-sm-2"></div>
        <div class="numbers"><span>1</span></div>
        <div class="line"></div>
        <div class="numbers active-number"><span>2</span></div>
        <div class="line"></div>
        <div class="numbers"><span>3</span></div>
        <div class="col-sm-2"></div>
    </div>

    <div class="start col-xs-12">
        <form>
            <div class="row">
                <label for="url-imagem">Link imagem</label>
                <input id="url-imagem" type="text" ng-model="url" placeholder="url da imagem" class="form-control input col">
            </div>
            ou
            <div class="row">
                <label for="arquivo-imagem">Arquivo foto</label>
                <input id="arquivo-imagem" type="file" ng-model="arquivo" placeholder="arquivo da imagem" class="form-control input col">
            </div>
            <div class="col-xs-12 botoes-foto">
                <button ng-click="enviar()" class="btn btn-default enviar" ng-class="{'enviado':enviado}">Enviar foto</button>

                <button ng-click="continuar()" class="btn btn-sucess continuar" ng-show="enviado">Continuar</button>
            </div>
            <div class="row img-carregada">
                <img ng-src="{{url}}" alt="Imagem leitura" class="img-url" ng-show="enviado">
            </div>
        </form>
    </div>

</section>
