<section>
    <div class="row container passos">
        <div class="col-sm-2"></div>
        <div class="numbers"><span>1</span></div>
        <div class="line"></div>
        <div class="numbers active-number"><span>2</span></div>
        <div class="line"></div>
        <div class="numbers"><span>3</span></div>
        <div class="col-sm-2"></div>
    </div>


    <input type="text" ng-model="url" placeholder="url da imagem" class="form-control input">

    <button ng-click="enviar()" class="btn btn-default">Enviar foto</button>

    <button ng-click="continuar()" class="btn btn-sucess" ng-show="enviado">Continuar</button>

</section>
