body {
    background-color: #4c3470;
    font-family: 'Montserrat', sans-serif;
}

.titulo-principal{
    text-align: center;
}

.titulo-principal .logo{
    margin-top: 10px;
}

.logoimg {
    width: 124px;
}


.titulo-principal .titulo{
    font-size: 36px;
    letter-spacing: 2px;
    color: #ffece0;
}


.passos{
    margin-top: 10%;
    text-align: center;
    display: flex;
}

.meio{
    text-align: center;
}

.numbers{
    color: white;
    background-color: #331e54;
    border-radius: 100%;
    width: 50px;
    min-width: 50px;
    height:50px;
    text-align: center;
    padding-top:10px;
    font-size: 20px;
}

.active-number{
    background-color: #ffece0;
    color: #331e54;
}

.line{
    border: 1px solid #331e54;
    background-color: #331e54;
    margin: 25px 0 25px 0;
    width: 100%;
}

.start{
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #331e54;
    color: white;
    font-size: 25px;
    padding: 0;
    text-align: center;
}

.start form{
    padding: 10%;
    padding-bottom: 0;
}

.comecar{
    opacity: 0.5;
    margin: 10%;
    background-color: #331e54;
    color: white;
    border: 0.5px solid white;
}

.enviar{
    opacity: 0.5;
    margin: 10%;
    background-color: #331e54;
    color: white;
    border: 0.5px solid white;
}

.botoes-foto .enviado{
    float: left;
}

.img-carregada{
    text-align: center;
    margin-bottom: 10%;
}

.img-url{
    max-width: 400px;
    width: 100%;
}

.continuar{
    opacity: 0.5;
    margin: 10%;
    background-color: #331e54;
    color: white;
    border: 0.5px solid white;
    float: right;
}

.resultado .sentimento{
    font-size: 32px;
}

.reiniciar{
    opacity: 0.5;
    margin: 10%;
    background-color: #331e54;
    color: white;
    border: 0.5px solid white;
}

/* Sentimentos */
body.raiva {
    background-color: #ff1744;
}

.caixa-resultado.raiva {
    background-color: #c4001d;
}

body.desprezo {
    background-color: #ff9100;
}

.caixa-resultado.desprezo {
    background-color: #c56200;
}

body.nojo {
    background-color: #00c853;
}

.caixa-resultado.nojo {
    background-color: #009624;
}

body.medo {
    background-color: #d500f9;
}

.caixa-resultado.medo {
    background-color: #9e00c5;
}

body.felicidade {
    background-color: #ffff00;
}

.caixa-resultado.felicidade {
    background-color: #c7cc00;
}

body.neutro {
    background-color: #90a4ae;
}

.caixa-resultado.neutro {
    background-color: #62757f;
}

body.tristeza {
    background-color: #5c6bc0;
}

.caixa-resultado.tristeza {
    background-color: #26418f;
}

body.surpresa {
    background-color: #e040fb;
}

.caixa-resultado.surpresa {
    background-color: #aa00c7;
}