body {
  background-color: #4c3470;
  font-family: 'Comfortaa', cursive;
}

.titulo-principal{
    text-align: center;
}

.titulo-principal .logo{
    margin-top: 10px;
}

.logoimg {
  width: 124px;
}


.titulo-principal .titulo{
    font-size: 36px;
    letter-spacing: 2px;
    color: #ffece0;
}

.numberCircle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;
    background: #331e54;
    text-align: center;
    font: 15px Arial, sans-serif;
    display: inline-block;
}
